body {
    margin:0px;
    height:100vh;

  }
  #file-ip-3x4-preview {
    width: 3cm;
    height: 4cm;
    object-fit: cover;
    object-position: center;
    position: relative;
  }

  .containerpai{
    display: flex;
  
  }

  textarea {
    margin-left: 20px;
    width: 1000px;
    height: 200px;
    resize: both;
    font-size: 2em;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                3px 3px 7px rgba(94, 104, 121, 0.377);
  }
  
  .container{
    
    flex-direction: column;
  
  }
  .containerpai{
    display: flex;

  }

  .form-input-raiox{
    margin-left: 20px;
    margin-right: 20px;
    width: 500px;
    height: 250px;
    
  }

.form-input-3x4 img {
    width: 100%;
    margin-bottom: 30px;
    display: none;
    
}

.center {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
  
  }

  .form-input-3x4{
    width: 3cm;
    height: 4cm;
    object-fit: cover;
    object-position: center;
   
  }
  .form-input {
    margin: 20px;
    width:960px;
    padding:20px;
    background:#fff;
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                3px 3px 7px rgba(94, 104, 121, 0.377);
  }

  .form-input input {
    display:none;
  }
  
  .form-input label {
    display:flex;
    line-height:50px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:600;
    border-radius:5px;
    cursor:pointer;
  }

  .raiox{
    background-color: pink;
    
    
  }
.multImg{
  
    height: 200px;
    width: 200px;
    padding: 0px 10px 0px;
}

.tittle1{
margin: auto;
}

select{
  font-size: 1em;
  font-weight: bolder;
}

.sumir{
  color:transparent;
}
.obsImg{
  padding: 20px;
}

.tamanhodoraiox{
  height: 390px;
}